mixin config(config)
  section.config
    .config__item
      p.config__text Max
      input.config__input(id=config.max type="text")
    .config__item
      p.config__text Min 
      input.config__input(id=config.min type="text")
    .config__item
      p.config__text First value 
      input.config__input(id=config.firstValue type="text")
    .config__item
      p.config__text Second value
      input.config__input(id=config.secondValue type="text")
    .config__item 
      p.config__text Step 
      input.config__input(id=config.step type="text")
    .config__item 
      p.config__text Range
      input.config__input(id=config.range type="text") 
    .config__item 
      p.config__text Vertical mode
      input.config__button(id=config.verticalButton type="checkbox")
    .config__item 
      p.config__text Visible value 
      input.config__button(id=config.currentValueVisibleButton type="checkbox" checked)